<!-- ButtonWithModifyModal.razor -->
<button class="btn btn-primary" @onclick="() => ShowModal = true">수정</button>>
<ModifyModalForm Title="My Modal" ShowModal="@ShowModal" ShowModalChanged="(value) => ShowModal = value">
    <p>This is the content of the modal.</p>
</ModifyModalForm>

@code {
    private bool ShowModal = false;
}
