@page "/scan"
<div class="row row-cols-2 row-cols-md-2 g-4">
    <div class="col">
        <button class="card" @onclick="toggleOnCamera">
            <img class="card-img-bottom" src="images/oncamera2.png"/>
            <div class="card-body">
            </div>
        </button>
    </div>

    <div class="col">
        <button class="card" @onclick="toggleGotoAlbum">
            <img class="card-img-bottom" src="images/gotoalbum2.png"/>
            <div class="card-body">
            </div>
        </button>
    </div>
</div>

@if (isOnCamera)
{
    <h3>oncamera</h3>

}
@if (isGotoAlbum)
{ 
    <h3>gotoalbum</h3>
}

@code {
    bool isOnCamera = false;
    bool isGotoAlbum = false;

    private void toggleOnCamera()
    {
        isOnCamera = !isOnCamera;
    }
    private void toggleGotoAlbum()
    {
        isGotoAlbum = !isGotoAlbum;
    }
}
